<div [ngClass]="alerta" class="alert" role="alert">
    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<button class="btn btn-info mr-5" type="button" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" type="button" (click)="alerta = 'alert-success'">Success</button><br><br>
<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">Hola Mundo</h3>
<button type="button" class="btn" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}" (click)="propiedades.danger = !propiedades.danger">Cambiar</button>
<br><br>
<h3>Proceso Asíncrono</h3>
<button type="button" class="btn btn-primary mb-3" (click)="ejecutar()" [disabled]="loading">
    <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading }" class="fa"></i>
    <span *ngIf="!loading"> Guardar cambios</span>
    <span *ngIf="loading"> Espere porfavor...</span>
</button>